@use "sass:math";

@mixin margin-bottom($margin) {
    & > * {
        margin-bottom: $margin;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin margin-right($margin) {
    & > * {
        margin-right: $margin;

        &:last-child {
            margin-right: 0;
        }
    }
}

@mixin margin-fix() {
    & > *:last-child {
        margin-bottom: 0;
    }
}

@mixin spinner($size: 48px, $thickness: 3px, $duration: 1s, $color: $primary) {
    position: absolute;
    top: 50%;
    left: 50%;

    width: $size;
    height: $size;
    margin-top: #{math.div($size, 2) * -1};
    margin-left: #{math.div($size, 2) * -1};

    border: #{$color} #{$thickness} solid;
    border-left-color: transparent;
    border-radius: 50%;

    animation: rotating #{$duration} linear infinite;

    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}
