$icomoon-prefix: 'icon-';
$icomoon-font-name: 'icomoon';
$icomoon-font-family: 'icomoon';

$icomoon-icons: (
	arrow-left: '\e900',
	arrow-right: '\e901',
	arrow-step: '\e902',
	checkbox: '\e903',
	telegram: '\e904',
	viber: '\e905',
	whatsapp: '\e906'
);