<!-- Hero -->
<section class="section section--hero" id="hero">
    <div class="section__wrapper">
        <div class="section__content">
            <div class="hero">
                <div class="hero__inner">
                    <div class="hero__bg">
                        <img src="images/hero/hero-desktop.jpg" alt="фоновая картинка" width="1860" height="902">
                    </div>
                    <div class="hero__main container">
                        <div class="hero__top">
                            <h1 class="hero__title">Зверовоз</h1>
                            <p class="hero__text">Безопасные перевозки животных <br> по России и миру</p>
                        </div>
                        <div class="hero__content">
                            <div class="hero__info">
                                <p>Заполните форму <br> и мы перезвоним вам</p>
                                <a class="btn btn--wide" href="#modal-order" data-fancybox><span>Заполнить</span></a>
                            </div>
                            <div class="hero__form">
                                @@include('components/form.html')
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
