<!-- Procedures -->
<section class="section section--bordered section--procedures" id="procedures">
    <div class="section__wrapper container">
        <div class="section__header">
            <h2 class="section__title">Процедуры</h2>
            <p class="section__text">Наши специалисты с заботой проведут все необходимые процедуры до и после поездки вашему питомцу.</p>
        </div>
        <div class="section__content">
            <div class="procedures">
                <div class="procedures__inner">
                    <div class="procedures__main">
                        <div class="procedures__slider">
                            @@include('components/swiper.html', {
                                "id": "procedures",
                                "template": "procedures"
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
