<!-- Restrictions -->
<section class="section section--restrictions" id="restrictions">
    <div class="section__wrapper">
        <div class="section__header container">
            <h2 class="section__title">Ограничения</h2>
            <p class="section__text">Перевозка животных подчинена строгим правилам и ограничениям. Существуют определенные условия, при которых перевозка животных запрещена.</p>
        </div>
        <div class="section__content container">
            <div class="restrictions">
                <div class="restrictions__inner">
                    <div class="restrictions__list">
                        @@include('components/swiper.html', {
                            "id": "restrictions",
                            "template": "restrictions"
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
