<li class="transportation__item@@if(context.active) { is-active}" id="@@id-name">
    <div class="transportation__box container">
        <div class="transportation__left">
            <h3 class="transportation__title title">@@title</h3>
            <div class="transportation__middle"><a href="#" class="btn btn--small btn--icon"><span>Правила перевозки</span></a></div>
            <div class="transportation__img">
                <img src="images/icons/empty.png" data-src="images/transportation/transportation-0@@id.png" alt="@@alt">
            </div>
        </div>
        <div class="transportation__right">
            <div class="transportation__info">
                <p class="transportation__lead">
                    @@lead
                </p>
                <p>
                    @@text
                </p>
            </div>
            <div class="transportation__faq">
                <p class="transportation__faq-title">@@faq-title</p>
                <ol class="transportation__faq-list">
                    <li>@@faq-1</li>
                    <li>@@faq-2</li>
                    <li>@@faq-3</li>
                </ol>
            </div>
        </div>
    </div>
</li>
