<!-- Modal: Order -->
<div class="modal modal--order" id="modal-order">
    <a class="modal__close" href="#" aria-label="закрыть попап">
        <img src="images/icons/close.svg" alt="закрыть попап" width="24" height="24">
    </a>
    <div class="modal__inner">
        <div class="modal__form">
            <form action="#" class="form" name="form-order">
                <div class="form__inner">
                    <div class="form__main">
                        <label class="form__label">
                            <input class="form__label-input" type="text" name="form-from">
                            <span class="form__label-text">Откуда</span>
                        </label>
                        <label class="form__label">
                            <input class="form__label-input" type="text" name="form-to">
                            <span class="form__label-text">Куда</span>
                        </label>
                        <label class="form__label">
                            <input class="form__label-input" type="text" name="form-date" data-datepicker>
                            <span class="form__label-text">Дата отправки</span>
                        </label>
                        <label class="form__label">
                            <input class="form__label-input" type="text" name="form-weight">
                            <span class="form__label-text">Вес питомца (кг)</span>
                        </label>
                        <label class="form__label">
                            <input class="form__label-input" type="tel" name="form-phone" data-phone>
                            <span class="form__label-text">Ваш телефон</span>
                        </label>
                        <div class="form__submit">
                            <button class="btn btn--small form__btn"><span>Отправить</span></button>
                        </div>
                    </div>
                    <div class="form__bottom">
                        <label class="form__agree">
                            <input type="checkbox" name="agree" checked>
                            <span class="form__agree-checkbox"></span>
                            <span class="form__agree-text">Я согласен на обработку персональных данных</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal__socials">
            <div class="socials">
                <ul class="socials__list">
                    <li class="socials__item">
                        <a class="socials__btn socials__btn--telegram" href="#">
                            <i class="icon icon-telegram"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__btn socials__btn--whatsapp" href="#">
                            <i class="icon icon-whatsapp"></i>
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__btn socials__btn--viber" href="#">
                            <i class="icon icon-viber"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
