        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer__inner container">
                <div class="footer__left">
                    <a href="#" class="footer__logo">
                        <img src="images/icons/logo.svg" alt="логотип" width="60" height="60">
                        <span>Зверовоз</span>
                    </a>
                    <p class="footer__text">Безопасные перевозки животных по России и Миру</p>
                </div>
                <div class="footer__middle">
                    <ul class="footer__menu">
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#services">О нас</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#transportation">Услуги</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#routes">Маршруты</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#work">Как работаем</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#procedures">Преимущества</a>
                        </li>
                        <li class="footer__menu-item">
                            <a class="footer__menu-link" href="#restrictions">Условия</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__right">
                    <ul class="footer__manage">
                        <li class="footer__manage-item"><a class="btn" href="tel:+71223455677"><span>+7 122 345-56-77</span></a></li>
                        <li class="footer__manage-item footer__manage-desktop"><a class="btn" href="#hero"><span>Написать</span></a></li>
                        <li class="footer__manage-item footer__manage-mob"><a class="btn" href="#modal-order" data-fancybox><span>Написать</span></a></li>
                    </ul>
                    <div class="footer__socials socials">
                        <p class="socials__text">Пишите нам в меседжеры:</p>
                        <ul class="socials__list">
                            <li class="socials__item">
                                <a class="socials__btn socials__btn--telegram" href="#">
                                    <i class="icon icon-telegram"></i>
                                </a>
                            </li>
                            <li class="socials__item">
                                <a class="socials__btn socials__btn--whatsapp" href="#">
                                    <i class="icon icon-whatsapp"></i>
                                </a>
                            </li>
                            <li class="socials__item">
                                <a class="socials__btn socials__btn--viber" href="#">
                                    <i class="icon icon-viber"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @@include('modals/success.html')
    @@include('modals/order.html')

    <!-- js:main --><!-- /js:main -->
    <!-- js:modules --><!-- /js:modules -->
</body>

</html>
